<!--

    Copyright © 2021 ThingsBoard, Inc.

-->
<mat-form-field [formGroup]="schedulerEventTypeFormGroup" class="mat-block">
  <mat-label translate>scheduler.event-type</mat-label>
  <input matInput type="text" placeholder="{{ 'scheduler.select-event-type' | translate }}"
         #schedulerEventTypeInput
         formControlName="schedulerEventType"
         (focusin)="onFocus()"
         [required]="required"
         [matAutocomplete]="schedulerEventTypeAutocomplete">
  <button *ngIf="schedulerEventTypeFormGroup.get('schedulerEventType').value && !disabled"
          type="button"
          matSuffix mat-button mat-icon-button aria-label="Clear"
          (click)="clear()">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
  <mat-autocomplete
    class="tb-autocomplete"
    #schedulerEventTypeAutocomplete="matAutocomplete"
    [displayWith]="displaySchedulerEventTypeFn">
    <mat-option *ngFor="let eventType of filteredSchedulerEventTypes | async" [value]="eventType">
      <span [innerHTML]="displaySchedulerEventTypeFn(eventType) | highlight:searchText"></span>
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="schedulerEventTypeFormGroup.get('schedulerEventType').hasError('required')">
    {{ 'scheduler.event-type-required' | translate }}
  </mat-error>
</mat-form-field>
