<!--

    Copyright © 2021 ThingsBoard, Inc.

-->
<form [formGroup]="form" fxLayout="column">
  <div fxLayout="column">
    <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center start">
      <mat-label class="cell-header" fxFlex="20">Day</mat-label>
      <mat-label class="cell-header" fxFlex="20">Open Time</mat-label>
      <mat-label class="cell-header" fxFlex="20">Open Flow</mat-label>
      <mat-label class="cell-header" fxFlex="20">Close Time</mat-label>
      <mat-label class="cell-header" fxFlex="20">Close Flow</mat-label>
    </div>
  </div>
  <mat-divider style="margin-top: 1em"></mat-divider>
  <div *ngFor="let day of allDaysIndex; let $index = index" fxLayout="column" formArrayName="items">
    <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="8px" [formGroupName]="''+day" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center start">
      <mat-checkbox fxFlex="20" formControlName="enabled" (change)="changeCustomScheduler($event, day)" >
        {{ dayOfWeekTranslationsArray[day] | translate | titlecase }}
      </mat-checkbox>
      <mat-form-field fxFlex="20" fxFlex.xs fxFlex.sm="100px" fxFlex.md="100px">
        <input matInput type="text" formControlName="openTime" required>
        <mat-error *ngIf="itemsSchedulerForm.at($index).get('openTime').hasError('pattern')">
          {{ timeFormatErrorText }}
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="20" fxFlex.xs fxFlex.sm="100px" fxFlex.md="100px">
        <mat-select formControlName="openFlow" required>
          <mat-option *ngFor="let value of percentages" [value]="value">{{value}}%</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="20" fxFlex.xs fxFlex.sm="100px" fxFlex.md="100px">
        <input matInput type="text" formControlName="closeTime" required>
        <mat-error *ngIf="itemsSchedulerForm.at($index).get('closeTime').hasError('pattern')">
          {{ timeFormatErrorText }}
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="20" fxFlex.xs fxFlex.sm="100px" fxFlex.md="100px">
          <mat-select formControlName="closeFlow" required>
            <mat-option *ngFor="let value of percentages" [value]="value">{{value}}%</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <mat-error *ngIf="itemsSchedulerForm.at($index).get('openTime').hasError('time')">
      woops
    </mat-error>
  </div>
  <mat-accordion style="padding: 1em 0 1em 0">
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>Configuration templates</div>
        </mat-panel-title>
        <mat-panel-description>
          Save and load scheduler configuration as template
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="templateForm">
        <div fxLayout="column">
          <div  fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutAlign.xs="center start">
            <mat-form-field appearance="fill">
              <mat-label>Current config template title</mat-label>
              <input matInput type="text" formControlName="key">
            </mat-form-field>
            <button mat-raised-button color="primary"
                    (click)="saveTemplate()"
                    [disabled]="(isLoading$ | async) || !templateForm.get('key').value?.length">
              Save as template
            </button>
          </div>
          <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center" fxLayout.xs="column"  fxLayoutAlign.xs="center start">
            <mat-form-field appearance="fill" class="mat-block">
              <mat-label>Select template</mat-label>
              <mat-select formControlName="value">
                <mat-option *ngFor="let template of configTemplatesObservable | async" [value]="template">
                  {{ template.key }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="warn" type="button"
                    (click)="deleteTemplate()"
                    [disabled]="(isLoading$ | async) || !templateForm.get('value').value?.key?.length">
              {{ 'action.delete' | translate }}
            </button>
            <button mat-raised-button color="primary" type="button"
                    (click)="loadTemplate()"
                    [disabled]="(isLoading$ | async) || !templateForm.get('value').value?.key?.length">
              Load
            </button>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button (click)="compareStartEndTime()"
            [disabled]="(isLoading$ | async) || form.invalid || !form.dirty">
      Compare
    </button>
    <button mat-raised-button color="primary"
            (click)="save()"
            [disabled]="(isLoading$ | async) || form.invalid || !form.dirty">
      {{ 'action.save' | translate }}
    </button>
  </div>
</form>
