<!--

    Copyright © 2021 ThingsBoard, Inc.

-->
<form [formGroup]="form" fxLayout="column">
  <div fxLayout="column">
    <div fxLayoutGap="16px" fxLayoutAlign="space-between center">
      <mat-label class="cell-header" fxFlex="10" fxFlex.xs="30">Day</mat-label>
      <mat-label class="cell-header" fxFlex="45" fxFlex.xs="35">Open Time</mat-label>
      <mat-label class="cell-header" fxFlex="45" fxFlex.xs="35">Close Time</mat-label>
    </div>
  </div>
  <mat-divider style="margin-top: 4px"></mat-divider>
  <div *ngFor="let day of allDaysIndex; let $index = index" formArrayName="items" fxLayout="column">
    <div [formGroupName]="''+day" fxLayoutGap="16px" fxLayoutAlign="space-between center">
      <mat-checkbox fxFlex="10" fxFlex.xs="30" formControlName="enabled" (change)="changeCustomScheduler($event, day)">
        {{ dayOfWeekTranslationsArray[day] | translate | titlecase | slice:0:3 }}
      </mat-checkbox>
      <mat-form-field fxFlex="45" fxFlex.xs="35">
        <input matInput type="text" formControlName="openTime" required>
        <mat-error *ngIf="itemsSchedulerForm.at($index).get('openTime').hasError('pattern')">
          {{ timeFormatErrorText }}
        </mat-error>
        <mat-error *ngIf="itemsSchedulerForm.at($index).get('openTime').hasError('time')">
          {{ openCloseTimeErrorText }}
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="45" fxFlex.xs="35">
        <input matInput type="text" formControlName="closeTime" required>
        <mat-error *ngIf="itemsSchedulerForm.at($index).get('closeTime').hasError('pattern')">
          {{ timeFormatErrorText }}
        </mat-error>
        <mat-error *ngIf="itemsSchedulerForm.at($index).get('closeTime').hasError('time')">
          {{ openCloseTimeErrorText }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-raised-button color="primary"
            (click)="save()"
            [disabled]="(isLoading$ | async) || form.invalid || !form.dirty">
      {{ 'action.save' | translate }}
    </button>
  </div>
</form>
