<!--

    Copyright © 2021 ThingsBoard, Inc.

-->
<div class="tbDatasource-container">
  <table class="tbDatasource-table" style="text-align: left">
    <colgroup>
      <col width="30%"><col width="70%">
    </colgroup>
    <tr style="vertical-align: bottom;">
        <td class="tbDatasource-data-key" style="font-size: 68px; padding: 12px;">
          {{ measurementUnit }}
        </td>
      </tr>
    <tr>
      <td class="tbDatasource-value" style="font-size: 136px; padding: 12px;">
        {{ value }}
      </td>
    </tr>
  </table>
</div>
